[submodule "singleapplication"]
	path = 3rdparty/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git

[submodule "plog"]
	path = 3rdparty/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "3rdparty/qtkeychain"]
	path = 3rdparty/qtkeychain
	url = git@github.com:frankosterfeld/qtkeychain.git
