[submodule "crates/openconnect/deps/openconnect"]
	path = crates/openconnect/deps/openconnect
	url = https://gitlab.com/openconnect/openconnect.git
[submodule "crates/openconnect/deps/libxml2"]
	path = crates/openconnect/deps/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
