[Desktop Entry]
Type=Application
Name=GP Connect Login
Comment=Authenticate GP Connect VPN connections
NoDisplay=true
Terminal=false
TryExec=/usr/local/bin/gpauth
Exec=/usr/local/bin/gpauth auth-callback %u
MimeType=x-scheme-handler/globalprotectcallback;
Icon=gpgui
Categories=Network;
