<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>GlobalProtect-openconnect</vendor>
  <vendor_url>https://github.com/yuezk/GlobalProtect-openconnect</vendor_url>
  <icon_name>gpgui</icon_name>
  <action id="com.yuezk.gpservice">
    <description>Run GPService as root</description>
    <message>Authentication is required to run the GPService as root</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/kevin/Documents/repos/gp/target/debug/gpservice</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--with-gui</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
