#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DEBIAN_PACKAGE=1

%:
	dh $@
override_dh_installsystemd:
	# Update the the dbus user to logname
	dbus_conf="/usr/share/dbus-1/system.d/com.yuezk.qt.GPService.conf"
	if [ -f "${dbus_conf}" ]; then
		sed -i "/LOGNAME/,+1s/user=\".*\"/user=\"$(logname)\"/" "${dbus_conf}"
	fi

	dh_installsystemd gpservice.service
