[Unit]
Description=GlobalProtect openconnect DBus service

[Service]
Environment=LC_ALL=en_US
Type=dbus
BusName=com.yuezk.qt.GPService
ExecStart=/usr/bin/gpservice

[Install]
WantedBy=multi-user.target
