[Unit]
Description=GlobalProtect openconnect DBus service

[Service]
Environment="LANG=en_US.utf8"
Type=dbus
BusName=com.yuezk.qt.GPService
ExecStart=/usr/bin/gpservice

[Install]
WantedBy=multi-user.target
