name: PR Build

on:
  pull_request:
    branches:
      - master
      - develop
    paths-ignore:
      - LICENSE
      - "*.md"
      - .vscode
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]

    runs-on: ${{ matrix.os }}

    steps:
      # Checkout repository and submodules
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build
        run: |
          ./scripts/install-ubuntu.sh
          # assert no library missing
          test $(ldd $(which gpclient) | grep 'not found' | wc -l) -eq 0
